<div class="d-flex p-3" [ngClass]="{
  'streams' : isPresenting
}">
  <div *ngIf="localUserUid" class="screen_share" [ngClass]="{
      'w-100': isPresenting || (remoteStreams | keyvalue).length === 0,
      'height-88vh': !((remoteStreams | keyvalue).length > 0 && !isPresenting)
    }">
    <div id="local_stream_{{localUserUid}}"
      [ngClass]="(remoteStreams | keyvalue).length === 0 ? 'only_local_stream_': 'local_stream_ shadow'">
      <span [class]="!localUserAudio ? 'mic__unMute' : 'mic__mute'">
        <div class="progress w-100" *ngIf="!localUserAudio && localVolumeLevel > 1">
          <div class="progress-bar" role="progressbar" [ngStyle]="{'width': localVolumeLevel * 3 + '%'}">
          </div>
        </div>
        <svg *ngIf="localUserAudio" width="24px" height="24px" viewBox="0 0 24 24" fill="#000000" class="fill-white">
          <path d="M0 0h24v24H0zm0 0h24v24H0z" fill="none"></path>
          <path d="M19 11h-1.7c0 .74-.16 1.43-.43 2.05l1.23 1.23c.56-.98.9-2.09.9-3.28zm-4.02.17c0-.06.02-.11.02-.17V5c0-1.66-1.34-3-3-3S9
            3.34 9 5v.18l5.98 5.99zM4.27 3L3 4.27l6.01 6.01V11c0 1.66 1.33 3 2.99
            3 .22 0 .44-.03.65-.08l1.66 1.66c-.71.33-1.5.52-2.31.52-2.76 0-5.3-2.1-5.3-5.1H5c0
            3.41 2.72 6.23 6 6.72V21h2v-3.28c.91-.13 1.77-.45 2.54-.9L19.73 21 21 19.73 4.27 3z">
          </path>
        </svg>
      </span>
      <span class="you">You</span>
      <span class="initials">
        {{localUserUid}}
      </span>
    </div>
    <div id="remote_stream_{{item.key}}" class="screen_share_user"
      *ngFor="let item of (remoteStreams | withScreenShare) | keyvalue; trackBy:trackMe">
      <span class="initials">
        {{item.key}} is presenting the screen
      </span>
    </div>
  </div>
  <div *ngIf="(remoteStreams | keyvalue).length > 0" [ngClass]="{
    'remote_users__withScreenShare' : isPresenting,
    'remote_users__withOutScreenShare': !isPresenting,
    'height-88vh': !isPresenting && ((remoteStreams | withoutScreenShare) | keyvalue).length > 0
  }">
    <div id="remote_stream_{{item.key}}" [ngClass]="{
      'stream__withScreenShare' : isPresenting,
      'stream__withOutScreenShare': !isPresenting,
      'height-82vh': ((remoteStreams | withoutScreenShare) | keyvalue).length === 1,
      'height-40vh max-width-40': ((remoteStreams | withoutScreenShare) | keyvalue).length > 1 && ((remoteStreams | withoutScreenShare) | keyvalue).length <= 4,
      'height-30vh max-width-30': ((remoteStreams | withoutScreenShare) | keyvalue).length > 4 && ((remoteStreams | withoutScreenShare) | keyvalue).length <= 6,
      'height-25vh max-width-25': ((remoteStreams | withoutScreenShare) | keyvalue).length > 6 && ((remoteStreams | withoutScreenShare) | keyvalue).length <= 9
    }"
      *ngFor="let item of (remoteStreams | withoutScreenShare) | keyvalue | slice: 0: isPresenting ? 6 : ((remoteStreams | withoutScreenShare) | keyvalue).length; trackBy:trackMe">
      <span [class]="item.value.isAudio ? 'mic__unMute' : 'mic__mute'">
        <div class="progress w-100" *ngIf="item.value.isAudio && item.value.volume > 1">
          <div class="progress-bar" role="progressbar" [ngStyle]="{'width': item.value.volume * 3 + '%'}">
          </div>
        </div>
        <svg *ngIf="!item.value.isAudio" width="24px" height="24px" viewBox="0 0 24 24" fill="#000000"
          class="fill-white">
          <path d="M0 0h24v24H0zm0 0h24v24H0z" fill="none"></path>
          <path d="M19 11h-1.7c0 .74-.16 1.43-.43 2.05l1.23 1.23c.56-.98.9-2.09.9-3.28zm-4.02.17c0-.06.02-.11.02-.17V5c0-1.66-1.34-3-3-3S9
            3.34 9 5v.18l5.98 5.99zM4.27 3L3 4.27l6.01 6.01V11c0 1.66 1.33 3 2.99
            3 .22 0 .44-.03.65-.08l1.66 1.66c-.71.33-1.5.52-2.31.52-2.76 0-5.3-2.1-5.3-5.1H5c0
            3.41 2.72 6.23 6 6.72V21h2v-3.28c.91-.13 1.77-.45 2.54-.9L19.73 21 21 19.73 4.27 3z">
          </path>
        </svg>
      </span>
      <span class="initials">
        {{item.key}}
      </span>
    </div>
  </div>
  <div class="people-list" *ngIf="closePeopleList">
    <app-people-list class="w-100" [localUser]="{uid: localUserUid, level: localVolumeLevel, isAudio: localUserAudio}"
      [peopleList]="remoteStreams" (emitCloseList)="peopleList($event)">
    </app-people-list>
  </div>
</div>
