<div *ngIf="!client.isJoined  && !leave">
  <app-check-media-device (emitJoinChannel)="joinChannel($event)">
  </app-check-media-device>
</div>

<div class="dark-brown" *ngIf="client.isJoined  && !leave">
  <app-streams [isPresenting]="isPresenting" [localUserUid]="client.rtcClient.uid" [remoteStreams]="remoteStreams"
    [localUserCamera]="client.camera" [localUserAudio]="client.audio" [localVolumeLevel]="client.localVolumeLevel"
    [closePeopleList]="closePeopleList" (emitCloseList)="closePeopleList = $event">
  </app-streams>
</div>


<div *ngIf="client.isJoined && !leave">
  <app-controls [peopleList]="closePeopleList" [audio]="client.audio" [camera]="client.camera"
    [isScreenPresenting]="screenShareClient ? screenShareClient.isScreenPresenting : false"
    [isPresenting]="isPresenting" [disableVideo]="client.disableVideo" (emitLeaveChannel)="leaveChannel()"
    (emitVideoChannel)="videoChannel()" (emitScreenShare)="screenShare()" (emitStopScreenShare)="stopScreenShare()"
    (emitMuteVolume)="muteVolume()" (emitPeopleList)="closePeopleList = $event">
  </app-controls>
</div>


<div *ngIf="leave">
  <app-leave (emitRejoin)="leave = false" (emitCredentials)="redirectToCredentials()">
  </app-leave>
</div>
<app-toaster *ngIf="toasterMsg" [toasterMsg]="toasterMsg" (emitToasterMsg)="toasterMsg = $event"></app-toaster>
